# 
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: svc-longhorn-headers
  namespace: {{ k3s_longhorn_namespace }}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-Proto: "https"
{% if enable_linkerd is sameas true %}
      l5d-dst-override: "longhorn-frontend.{{ k3s_longhorn_namespace }}.svc.cluster.local:80"
{% endif %}

---
# HTTPS Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: {{ k3s_longhorn_namespace }}
  annotations:
    # HTTPS as entry point
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    # Enable TLS
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Use Basic Auth Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares:
      {{ k3s_traefik_namespace }}-basic-auth@kubernetescrd,
      {{ k3s_longhorn_namespace }}-svc-longhorn-headers@kubernetescrd
    # Enable cert-manager to create automatically the SSL certificate and store in Secret
    cert-manager.io/cluster-issuer: ca-issuer
    cert-manager.io/common-name: {{ longhorn_dashboard_dns }}
spec:
  tls:
    - hosts:
        - {{ longhorn_dashboard_dns }}
      secretName: storage-tls
  rules:
    - host: {{ longhorn_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80

---
# http ingress for http->https redirection
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: longhorn-redirect
  namespace: {{ k3s_longhorn_namespace }}
  annotations:
    # Use redirect Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares: {{ k3s_traefik_namespace }}-redirect@kubernetescrd
    # HTTP as entrypoint
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ longhorn_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80
