apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

# patch values.yaml?
configMapGenerator:
  - name: kube-prometheus-stack-helm-values
    behavior: merge
    files:
      - open-telemetry-receiver-values.yaml=values.yaml

patches:
- target:
    group: helm.toolkit.fluxcd.io
    kind: HelmRelease
    name: kube-prometheus-stack
  path: helm-patch.yaml