# kube-prom-stack helm values (open-telemetry-receiver)
# Enable the OpenTelemetry receiver in Prometheus to receive OTLP data.
# ref: https://prometheus.io/docs/guides/opentelemetry/#send-opentelemetry-metrics-to-the-prometheus-server
# ref: https://github.com/prometheus-community/helm-charts/issues/5080#issuecomment-3035180394
prometheus:
  prometheusSpec:
    # Enabling OTLP receiver
    enableOTLPReceiver: true
    otlp:
      promoteResourceAttributes:
        - service.instance.id
        - service.name
        - service.namespace
        - cloud.availability_zone
        - cloud.region
        - container.name
        - deployment.environment.name
        - k8s.cluster.name
        - k8s.container.name
        - k8s.cronjob.name
        - k8s.daemonset.name
        - k8s.deployment.name
        - k8s.job.name
        - k8s.namespace.name
        - k8s.pod.name
        - k8s.replicaset.name
        - k8s.statefulset.name
      translation_strategy: NoUTF8EscapingWithSuffixes
      keepIdentifyingResourceAttributes: true
    tsdb:
      outOfOrderTimeWindow: 30m