---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller
spec:
  interval: 30m
  chart:
    spec:
      chart: tofu-controller
      version: 0.16.0-rc.8
      sourceRef:
        kind: HelmRepository
        name: tofu-controller
        namespace: flux-system
  releaseName: tofu-controller
  targetNamespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: flux-instance
      namespace: flux-system
  valuesFrom:
  - kind: ConfigMap
    name: tofu-controller-helm-values
    valuesKey: base-values.yaml