---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-demo
spec:
  interval: 30m
  chart:
    spec:
      chart: opentelemetry-demo
      version: 0.38.1
      sourceRef:
        kind: HelmRepository
        name: open-telemetry
        namespace: flux-system
  releaseName: opentelemetry-demo
  targetNamespace: otel-demo
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: opentelemetry-demo-helm-values
    valuesKey: base-values.yaml