# General config
daemon={{ ddclient_run_interval }}
ssl=yes

# Router
use=web, web=ipify-ipv4

# Protocol
protocol=cloudflare
zone={{ ddclient_cloudflare_zone }}
ttl=60
login=token
password={{ ddclient_cloudflare_token }}
{{ ddclient_ddns_domain }}
