apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-externalsecret
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana
  data:
  - secretKey: admin-user
    remoteRef:
      key: grafana/admin
      property: user
  - secretKey: admin-password
    remoteRef:
      key: grafana/admin
      property: password
