---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: 10.3.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  releaseName: grafana
  targetNamespace: grafana
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: grafana-helm-values
    valuesKey: base-values.yaml