apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
# Longhorn 1.6.0 is compatible with CSI Snapshot Controller 6.3.2
# (https://github.com/kubernetes-csi/external-snapshotter)
# In this version of CSI Snapshot Controller kustomization files are available
- https://github.com/kubernetes-csi/external-snapshotter/client/config/crd/?ref=v6.3.4
- https://github.com/kubernetes-csi/external-snapshotter/deploy/kubernetes/snapshot-controller/?ref=v6.3.4