---
kind: Namespace
apiVersion: v1
metadata:
  name: {{ k3s_linkerd_namespace }}-viz
  annotations:
    linkerd.io/inject: enabled
    config.linkerd.io/proxy-await: "enabled"
  labels:
    linkerd.io/extension: viz
