---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: schema-registry
spec:
  interval: 30m
  chart:
    spec:
      chart: schema-registry
      version: 23.1.2
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  releaseName: schema-registry
  targetNamespace: kafka
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: schema-registry-helm-values
    valuesKey: base-values.yaml