apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: minio-users-external-secret
  namespace: minio
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: minio-users-secret
  data:
  - secretKey: lokiPassword
    remoteRef:
      key: minio/loki
      property: key
  - secretKey: tempoPassword
    remoteRef:
      key: minio/tempo
      property: key
