apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
  namespace: external-secrets
spec:
  provider:
    vault:
      server: "https://vault.${CLUSTER_DOMAIN}:8200"
      path: secret
      version: v2
      auth:
        kubernetes:
          mountPath: "kubernetes"
          role: "external-secrets"