{% if k3s_build_cluster %}
{% if k3s_primary_control_node %}
cluster-init: true
{% else %}
server: https://{{ k3s_registration_ip }}:6443
{% endif %}
{% endif %}
token-file: {{ k3s_token_file }}
{% if 'k3s_master' in group_names %}
{{ k3s_server_config | to_nice_yaml }}
{% endif %}
