---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keycloak
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: keycloak
      version: 24.6.3
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
  releaseName: keycloak
  targetNamespace: keycloak
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: cnpg-system
  valuesFrom:
  - kind: ConfigMap
    name: keycloak-helm-values
    valuesKey: base-values.yaml