---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 80.6.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  releaseName: kube-prometheus-stack
  targetNamespace: kube-prom-stack
  install:
    crds: Skip
    remediation:
      retries: 3
  upgrade:
    crds: Skip
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
  - name: prometheus-operator-crds
    namespace: kube-system
  - name: longhorn
    namespace: longhorn-system
  valuesFrom:
  - kind: ConfigMap
    name: kube-prometheus-stack-helm-values
    valuesKey: base-values.yaml