---

- name: Install common packages
  ansible.builtin.apt:
    name: "{{ rpi_packages }}"
    update_cache: true
    state: present

- name: Copy utility scripts
  ansible.builtin.copy:
    src: "scripts/{{ item }}"
    dest: "/usr/local/bin/{{ item }}"
    owner: "root"
    group: "root"
    mode: "u=rwx,g=rx,o=rx"
  with_items:
    - pi_temp
    - pi_throttling

- name: Set GPU memory split to 16 MB
  ansible.builtin.lineinfile:
    path: /boot/firmware/config.txt
    line: "gpu_mem=16"
    create: true
    mode: "0755"
  notify: Reboot
