# Linkerd Middlewares
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: l5d-header-middleware-linkerd-viz
  namespace: {{ .Release.Namespace }}
spec:
  headers:
    customRequestHeaders:
      l5d-dst-override: "web.{{ .Release.Namespace }}.svc.cluster.local:8084"

---
# HTTPS Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: linkerd-viz-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    # HTTPS as entry point
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    # Enable TLS
    traefik.ingress.kubernetes.io/router.tls: "true"
{{- if .Values.ingress.basicAuth.enable }}
    # Use Basic Auth Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares:
      {{ .Values.ingress.basicAuth.middlewareNamespace }}-{{ .Values.ingress.basicAuth.middlewareName }}@kubernetescrd
{{- end }}
    # Enable cert-manager to create automatically the SSL certificate and store in Secret
    cert-manager.io/cluster-issuer: {{ .Values.ingress.certmanager.tlsIssuer }}-issuer
    cert-manager.io/common-name: {{ .Values.ingress.host }}
spec:
  tls:
    - hosts:
        - {{ .Values.ingress.host }}}
      secretName: linkerd-viz-tls
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: web
                port:
                  number: 8084
