---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tempo
spec:
  interval: 30m
  chart:
    spec:
      chart: tempo-distributed
      version: 1.56.2
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  releaseName: tempo
  targetNamespace: tempo
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: minio
      namespace: minio
  valuesFrom:
  - kind: ConfigMap
    name: tempo-helm-values
    valuesKey: base-values.yaml