apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-prom-stack

resources:
  - ../../base

components:
  - ../../components/ingress
  - ../../components/k3s
  - ../../components/disable-grafana

configMapGenerator:
  - name: kube-prometheus-stack-helm-values
    behavior: merge
    files:
      - overlay-values.yaml=values.yaml

patches:
- target:
    group: helm.toolkit.fluxcd.io
    kind: HelmRelease
    name: kube-prometheus-stack
  path: helm-patch.yaml