apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: book-info
resources:
- ns.yaml
  # https://istio.io/latest/docs/examples/bookinfo/
# renovate: datasource=github-releases depName=istio/istio
- https://raw.githubusercontent.com/istio/istio/release-1.24/samples/bookinfo/platform/kube/bookinfo.yaml
# renovate: datasource=github-releases depName=istio/istio
- https://raw.githubusercontent.com/istio/istio/release-1.24/samples/bookinfo/platform/kube/bookinfo-versions.yaml
# renovate: datasource=github-releases depName=istio/istio
- https://raw.githubusercontent.com/istio/istio/release-1.24/samples/bookinfo/networking/bookinfo-gateway.yaml

