---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: strimzi-kafka-operator-app
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: kafka
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/platform/kafka/strimzi-kafka-operator/overlays/prod
  prune: true
  wait: true

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kafka-cluster-app
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: kafka
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: strimzi-kafka-operator-app
    - name: longhorn-app
    - name: external-secrets-config
  path: ./kubernetes/platform/kafka/cluster/overlays/prod
  prune: true
  wait: true
  timeout: 15m
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
  healthCheckExprs:
    - apiVersion: kafka.strimzi.io/v1
      kind: Kafka
      failed: status.conditions.exists(e, e.type == 'Ready') && status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.exists(e, e.type == 'Ready') && status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: schema-registry-app
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: kafka
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/platform/kafka/schema-registry/overlays/prod
  prune: true
  dependsOn:
    - name: kafka-cluster-app
  wait: true
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kafdrop-app
  namespace: flux-system
spec:
  interval: 30m
  targetNamespace: kafka
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/platform/kafka/kafdrop/overlays/prod
  prune: true
  dependsOn:
    - name: schema-registry-app
    - name: kafka-cluster-app
  wait: true
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings