#!/bin/bash

# certbot-wrapper script
# Need to be copied to venv_cerbot/bin

BASEDIR=$(dirname "$0")

$BASEDIR/certbot  \
  --config-dir $BASEDIR/../config \
  --work-dir $BASEDIR/.. \
  --logs-dir $BASEDIR/../logs \
  $@