apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: otel

resources:
  - ../../base

configMapGenerator:
  - name: opentelemetry-collector-helm-values
    behavior: merge
    files:
      - overlay-values.yaml=values.yaml

patches:
- target:
    group: helm.toolkit.fluxcd.io
    kind: HelmRelease
    name: opentelemetry-collector
  path: helm-patch.yaml