apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-env-externalsecret
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: grafana-env-secret
  data:
    - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET
      remoteRef:
        key: grafana/oauth2
        property: client-secret
    - secretKey: GF_AUTH_GENERIC_OAUTH_CLIENT_ID
      remoteRef:
        key: grafana/oauth2
        property: client-id
