---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: eck-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: eck-operator
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: elastic
        namespace: flux-system
  releaseName: eck-operator
  targetNamespace: elastic
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: eck-operator-helm-values
    valuesKey: base-values.yaml