apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: prom-elasticsearch-exporter-externalsecret
  namespace: fluent
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: elasticsearch-exporter-secrets
  data:
  - secretKey: username
    remoteRef:
      key: logging/es-prometheus
      property: user
  - secretKey: password
    remoteRef:
      key: logging/es-prometheus
      property: password
