---
# Group all variables.

# Remote user name
ansible_user: ricsanfre

# Ansible ssh private key
ansible_ssh_private_key_file: ~/.ssh/id_rsa

# Cluster Lab Architecture
# Whether to use centralized SAN architecture or not
centralized_san: false

#######################
# DNS configuration
#######################
# DNS server
dns_server: 10.0.0.1
dns_domain: picluster.ricsanfre.com

############################
# restic backup role variables
############################
# Deactivate clean service. Only enabled in one node
restic_clean_service: false
restic_backups_dirs:
  - path: '/etc'
  - path: '/root'
    exclude:
      - pattern: '.cache'
  - path: '/home/{{ ansible_user }}'
    exclude:
      - pattern: '.cache'
      - pattern: '.ansible'
