---
# Encrypted variables - Ansible Vault
vault:
  # SAN
  san:
    iscsi:
      node_pass: {{ san_iscsi_node_pass | default("") }}
      password_mutual: {{ san_iscsi_mutual_pass | default("") }}
  # K3s secrets
  k3s:
    k3s_token: {{ k3s_token }}
  # traefik secrets
  traefik:
    basic_auth:
      user: admin
      passwd: {{ traefik_basic_auth_password }}
  # Minio S3 secrets
  minio:
    root:
      user: root
      key: {{ minio_root_password }}
    restic:
      user: restic
      key: {{ minio_restic_password }}
    longhorn:
      user: longhorn
      key: {{ minio_longhorn_password }}
    velero:
      user: velero
      key: {{ minio_velero_password }}
    loki:
      user: loki
      key: {{ minio_loki_password }}
    tempo:
      user: tempo
      key: {{ minio_tempo_password }}
  # elastic search
  elasticsearch:
    elastic:
      user: elastic
      password: {{ elasticsearch_admin_password }}
  # Fluentd
  fluentd:
    shared_key: {{ fluentd_shared_key }}
  # Grafana
  grafana:
    admin:
     user: admin
     password: {{ grafana_admin_password }}

  # Certmanager
  certmanager:
    ionos:
      public_prefix: {{ ionos_public_prefix }}
      secret: {{ ionos_secret }}