apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: longhorn-helm-values
    behavior: merge
    files:
      - monitoring-values.yaml=values.yaml

patches:
- target:
    group: helm.toolkit.fluxcd.io
    kind: HelmRelease
    name: longhorn
  path: helm-patch.yaml