{% if enable_linkerd is sameas true %}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: l5d-header-middleware-elasticsearch
  namespace: {{ k3s_logging_namespace }}
spec:
  headers:
    customRequestHeaders:
      l5d-dst-override: "{{ efk_cluster_name }}-es-http.{{ k3s_logging_namespace }}.svc.cluster.local:9200"
{% endif %}

---
# HTTPS Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: elasticsearch-ingress
  namespace: {{ k3s_logging_namespace }}
  annotations:
    # HTTPS as entry point
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    # Enable TLS
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Enable cert-manager to create automatically the SSL certificate and store in Secret
    cert-manager.io/cluster-issuer: ca-issuer
    cert-manager.io/common-name: {{ elasticsearch_dns }}
{% if enable_linkerd is sameas true %}
    # Linkerd header
    traefik.ingress.kubernetes.io/router.middlewares:
      {{ k3s_logging_namespace }}-l5d-header-middleware-elasticsearch@kubernetescrd
{% endif %}
spec:
  tls:
    - hosts:
        - {{ elasticsearch_dns }}
      secretName: elasticsearch-tls
  rules:
    - host: {{ elasticsearch_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ efk_cluster_name }}-es-http
                port:
                  number: 9200

---
# http ingress for http->https redirection
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: elasticsearch-redirect
  namespace: {{ k3s_logging_namespace }}
  annotations:
    # Use redirect Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares: {{ k3s_traefik_namespace }}-redirect@kubernetescrd
    # HTTP as entrypoint
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ elasticsearch_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ efk_cluster_name }}-es-http
                port:
                  number: 9200
