---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: "{{ efk_cluster_name }}"
  namespace: "{{ k3s_logging_namespace }}"
spec:
  version: {{ efk_elasticsearch_version }}
  http:    # Making elasticsearch service available from outisde the cluster
    tls:
      selfSignedCertificate:
        disabled: true
  nodeSets:
    - name: default
      count: {{ efk_elasticsearch_nodes }}
      config:
        node.store.allow_mmap: {{ efk_elasticsearch_enable_mmap }}
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: "{{ efk_elasticsearch_storage_size }}"
            storageClassName: "{{ efk_elasticsearch_storage_class }}"
{% if enable_linkerd is sameas true %}
      # Enabling service account token. linkerd requirement
      podTemplate:
        spec:
          automountServiceAccountToken: true
{% endif %}
