---
# fluentbit helm chart values

#fluentbit-container environment variables
env:
  # Fluentd deployment service
  - name: FLUENT_AGGREGATOR_HOST
    value: "fluentd"
  # Default fluentd forward port
  - name: FLUENT_AGGREGATOR_PORT
    value: "24224"
  - name: FLUENT_AGGREGATOR_SHARED_KEY
    valueFrom:
      secretKeyRef:
        name: fluentd-shared-key
        key: fluentd-shared-key
  - name: FLUENT_SELFHOSTNAME
    valueFrom:
      fieldRef:
        fieldPath: spec.nodeName
  # Specify TZ
  - name: TZ
    value: "{{ efk_node_timezone }}"
# Fluentbit config
config:
  # Helm chart combines service, inputs, outputs, custom_parsers and filters section
{% if fluentbit_service | length > 0 %}
  # fluent-bit.config SERVICE
  service: |
{{ fluentbit_service | indent(4, True)}}
{% endif %}
{% if fluentbit_inputs | length > 0 %}
  # fluent-bit.config INPUT
  inputs: |
{{ fluentbit_inputs | indent(4, True)}}
{% endif %}
{% if fluentbit_outputs | length > 0 %}
  # fluent-bit.config OUTPUT
  outputs: |
{{ fluentbit_outputs | indent(4, True)}}
{% endif %}
{% if fluentbit_custom_parsers | length > 0 %}
  # fluent-bit.config PARSERS
  customParsers: |
{{ fluentbit_custom_parsers | indent(4, True)}}
{% endif %}
{% if fluentbit_filters | length > 0 %}
  # fluent-bit.config FILTERS
  filters: |
{{ fluentbit_filters | indent(4, True)}}
{% endif %}
{% if fluentbit_json_exporter | length > 0 %}
  # json exporter configuration
  extraFiles:
    json-exporter-config.yml: |
{{ fluentbit_json_exporter | indent(6, True)}}
{% endif %}

# Fluentbit config Lua Scripts
luaScripts:
{% for lua_script in fluentbit_lua_script %}
  {{ lua_script.name }}: |
{{ lua_script.content | indent(4, True)}}
{% endfor %}

# Enable fluentbit instalaltion on master node
tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule

# Log_Level
logLevel: {{ fluent_bit_log_level }}

# Init container
initContainers:
  - name: init-fluentbit-directory
    image: busybox
    command: ['/bin/sh', '-c', 'if [ ! -d /var/log/fluentbit ]; then mkdir -p /var/log/fluentbit; fi ; if [ ! -d /var/log/fluentbit/tail-db ]; then mkdir -p /var/log/fluentbit/tail-db; fi ; if [ ! -d /var/log/fluentbit/storage ]; then mkdir -p /var/log/fluentbit/storage; fi']
    volumeMounts:
      - name: varlog
        mountPath: /var/log

# Sidecar container to export storage metrics
extraContainers:
  - name: json-exporter
    image: quay.io/prometheuscommunity/json-exporter
    command: ['/bin/json_exporter']
    args: ['--config.file=/json-exporter-config.yml']
    ports:
      - containerPort: 7979
        name: http
        protocol: TCP
    volumeMounts:
      - mountPath: /json-exporter-config.yml
        name: config
        subPath: json-exporter-config.yml
