---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana-ingress
  namespace: k3s-logging
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: {{ kibana_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: "{{ efk_cluster_name }}-kb-http"
                port:
                  number: 5601
