---
apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: "{{ efk_cluster_name }}"
  namespace: "{{ k3s_logging_namespace }}"
spec:
  version: {{ efk_elasticsearch_version }}
  count: 1
  elasticsearchRef:
    name: "{{ efk_cluster_name }}"
  http:
    tls:
      selfSignedCertificate:
        disabled: true
