---

loki:
  # Disable authentication
  auth_enabled: false
  storage:
    type: s3
  # S3 backend storage config
  storage_config:
    aws:
      bucketnames: {{ minio_loki_bucket }}
      endpoint: {{ minio_endpoint }}
      region: {{ minio_site_region }}
      access_key_id: {{ minio_loki_user }}
      secret_access_key: {{ minio_loki_key }}
      insecure: false
      sse_encryption: false
      http_config:
        idle_conn_timeout: 90s
        response_header_timeout: 0s
        insecure_skip_verify: false
      s3forcepathstyle: true
    boltdb_shipper:
      active_index_directory: /var/loki/boltdb-shipper-active
      cache_location: /var/loki/boltdb-shipper-cache
      cache_ttl: 24h
      shared_store: s3
# Disable self-monitoring
monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

