apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: cluster
spec:
  kafka:
    template:
      pod:
        affinity:
          podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              - labelSelector:
                  matchExpressions:
                    - key: strimzi.io/name
                      operator: In
                      values:
                        - cluster-kafka
                topologyKey: "kubernetes.io/hostname"