---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-bit
spec:
  interval: 30m
  chart:
    spec:
      chart: fluent-bit
      version: 0.49.0
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: flux-system
  releaseName: fluent-bit
  targetNamespace: fluent
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: fluent-bit-helm-values
    valuesKey: base-values.yaml