---
# Encrypted variables - Ansible Vault
vault:
  # SAN
  san:
    iscsi:
      node_pass: {{ san_iscsi_node_pass | default("") }}
      password_mutual: {{ san_iscsi_mutual_pass | default("") }}
  # K3s secrets
  cluster:
    k3s:
     token: {{ k3s_token }}
  # Flux secret
  flux:
    github:
      pat: {{ github_pat | default("") }}
  # Ingress secrets
  ingress:
    admin:
      user: admin
      password: {{ traefik_basic_auth_password }}
  # Keycloak
  keycloak:
    admin:
      user: admin
      password: {{ keycloak_admin_password }}
    picluster-admin:
      user: piadmin
      password: {{ keycloak_pi_password }}
    postgresql:
      user: keycloak
      password: {{ keycloak_postgresql_password }}
  # Oauth2-Proxy
  oauth2-proxy:
    oauth2:
      client-id: oauth2-proxy
      client-secret: {{ oauth2_proxy_client_secret }}
    cookie:
      cookie-secret: {{ oauth2_proxy_cookie }}
    redis:
      redis-password: {{ oauth2_proxy_redis_password }}
  # Minio S3 secrets
  minio:
    root:
      user: root
      key: {{ minio_root_password }}
    restic:
      user: restic
      key: {{ minio_restic_password }}
    longhorn:
      user: longhorn
      key: {{ minio_longhorn_password }}
    velero:
      user: velero
      key: {{ minio_velero_password }}
    loki:
      user: loki
      key: {{ minio_loki_password }}
    tempo:
      user: tempo
      key: {{ minio_tempo_password }}
    barman:
      user: barman
      key: {{ minio_barman_password }}
  # elasticsearch and fluentd
  logging:
    es-admin:
      user: admin
      password: {{ elasticsearch_admin_password }}
    es-fluentd:
      user: fluentd
      password: {{ elasticsearch_fluentd_password }}
    es-prometheus:
      user: prometheus
      password: {{ elasticsearch_prometheus_password }}
    fluentd:
      shared_key: {{ fluentd_shared_key }}
  # Grafana
  grafana:
    admin:
     user: admin
     password: {{ grafana_admin_password }}
    oauth2:
      client-id: grafana
      client-secret: {{ grafana_client_secret }}
  # Certmanager
  certmanager:
    ionos:
      public_prefix: {{ ionos_public_prefix }}
      secret: {{ ionos_secret }}
  # PostgreSQL
  postgresql:
    admin:
      user: admin
      password: {{ postgresql_admin_password }}
  # Kiali
  kiali:
    oauth2:
      client-id: kiali
      client-secret: {{ kiali_client_secret }}
  # Kafka
  kafka:
    admin:
      user: admin
      password: {{ kafka_admin_password }}
    kafdrop:
      user: kafdrop
      password: {{ kafka_kafdrop_password }}
    schema-registry:
      user: schema-registry
      password: {{ kafka_schema_registry_password }}
  schema-registry:
    basic-auth:
      user: sruser
      password: {{ schema_registry_basic_auth_password }}
