apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
- external-nodes-scrapeconfig.yaml
- external-bind-scrapeconfig.yaml
- external-haproxy-scrapeconfig.yaml
#- external-vault-monitoring.yaml
- minio-bearer-externalsecret.yaml
- minio-ext-scrapeconfig.yaml
- openwrt-scrapeconfig.yaml