---
# Redirect middleware
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: redirect
  namespace: {{ k3s_traefik_namespace }}
spec:
  redirectScheme:
    scheme: https
    permanent: true
