---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--metrics.prometheus=true"
    service:
      spec:
        loadBalancerIP: {{ k3s_ingress_external_ip }}
