---
# Traefik helm chart values

# Enable access log
logs:
  access:
    enabled: true
    format: json
    fields:
      general:
        defaultmode: keep
{% if enable_tracing is sameas true %}
      headers:
        defaultmode: drop
        names:
          X-B3-Traceid: keep
{% endif %}

# Print access log to file instead of stdout
additionalArguments:
  - "--accesslog.filepath=/data/access.log"

deployment:
{% if enable_linkerd is sameas true %}
  podAnnotations:
    linkerd.io/inject: ingress
    config.linkerd.io/skip-outbound-ports: "443"
{% endif %}
  additionalContainers:
    - name: stream-accesslog
      image: busybox
      args:
      - /bin/sh
      - -c
      - tail -n+1 -F /data/access.log
      imagePullPolicy: Always
      resources: {}
      terminationMessagePath: /dev/termination-log
      terminationMessagePolicy: File
      volumeMounts:
      - mountPath: /data
        name: data
service:
  spec:
    loadBalancerIP: {{ k3s_ingress_external_ip }}
# Enable cross namespace references
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true

{% if enable_tracing is sameas true %}
tracing:
  zipkin:
    httpEndpoint: http://tempo-distributor.{{ k3s_tracing_namespace }}.svc.cluster.local:9411/api/v2/spans
    sameSpan: true
    id128Bit: true
    sampleRate: 1.0
{% endif %}