apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ionos-externalsecret
  namespace: cert-manager
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: ionos-secret
  data:
  - secretKey: IONOS_PUBLIC_PREFIX
    remoteRef:
      key: certmanager/ionos
      property: public_prefix
  - secretKey: IONOS_SECRET
    remoteRef:
      key: certmanager/ionos
      property: secret
