apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: minio-root-external-secret
  namespace: minio
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: minio-root-secret
  data:
  - secretKey: rootUser
    remoteRef:
      key: minio/root
      property: user
  - secretKey: rootPassword
    remoteRef:
      key: minio/root
      property: key
