---

# - name: Configure vault service account and create token
#   become: false
#   ansible.builtin.shell: |
#     set -o pipefail
#     kubectl kustomize --enable-helm --load-restrictor=LoadRestrictionsNone \
#      ../kubernetes/clusters/bootstrap/vault/overlays/"{{overlay}}" | kubectl apply -f -
#   args:
#     executable: /bin/bash
#   register: output
#   changed_when: true

# - name: Add Hashicorp Helm repo
#   kubernetes.core.helm_repository:
#     name: hashicorp
#     repo_url: https://helm.releases.hashicorp.com

- name: Deploy Vault
  kubernetes.core.helm:
    name: vault
    chart_ref: vault
    chart_repo_url: https://helm.releases.hashicorp.com
    chart_version: 0.32.0
    release_namespace: vault
    create_namespace: true
    values_files:
      - ../../kubernetes/platform/vault/app/base/values.yaml
    # Ovewrite values for the vault Helm chart setting vault dns name
    set_values:
      - value: "global.externalVaultAddr=https://{{ vault_hostname }}:8200"
        value_type: string

- name: Get Token review
  ansible.builtin.shell: |
    set -o pipefail
    KUBERNETES_SA_SECRET_NAME=$(kubectl get secrets --output=json -n vault | jq -r '.items[].metadata | select(.name|startswith("vault-auth")).name')
    TOKEN_REVIEW_JWT=$(kubectl get secret $KUBERNETES_SA_SECRET_NAME -n vault -o jsonpath='{.data.token}' | base64 --decode)
    echo $TOKEN_REVIEW_JWT
  register: get_reviewer_token
  changed_when: false

- name: Set reviewer token
  ansible.builtin.set_fact:
    vault_reviewer_token: "{{ get_reviewer_token.stdout }}"

- name: Get Kubernetes CA cert
  ansible.builtin.shell: |
    set -o pipefail
    KUBERNETES_CA_CERT=$(kubectl config view --raw --minify --flatten --output='jsonpath={.clusters[].cluster.certificate-authority-data}' \
      | base64 --decode | awk 'NF {sub(/\r/, ""); printf "%s\\n",$0;}')
    echo $KUBERNETES_CA_CERT
  register: get_kubernetes_ca
  changed_when: false

- name: Set CA cert
  ansible.builtin.set_fact:
    kubernetes_ca_cert: "{{ get_kubernetes_ca.stdout }}"

- name: Set kubernetes_host
  ansible.builtin.set_fact:
    kubernetes_host: "https://{{ k3s_api_vip }}:6443"

- name: Configure vault-kubernetes-auth
  ansible.builtin.include_tasks: tasks/vault_kubernetes_auth_method_config.yml
