---

- name: CRDs installation
  become: false
  ansible.builtin.shell: |
    set -o pipefail
    kubectl kustomize --enable-helm --load-restrictor=LoadRestrictionsNone \
     ../kubernetes/infrastructure/crds/overlays/"{{ overlay }}" | kubectl apply --server-side -f -
  args:
    executable: /bin/bash
  register: output
  changed_when: true
