---
- name: Create CA key
  community.crypto..openssl_privatekey:
    path: "{{ selfsigned_certificates_path }}/CA.key"
    size: "{{ ssl_key_size | int }}"
    mode: "0644"
  register: ca_key

- name: Create the CA CSR
  community.crypto.openssl_csr:
    privatekey_path: "{{ selfsigned_certificates_path }}/CA.key"
    common_name: Ricsanfre CA
    use_common_name_for_san: false  # since we do not specify SANs, don't use CN as a SAN
    basic_constraints:
      - 'CA:TRUE'
    basic_constraints_critical: true
    key_usage:
      - keyCertSign
    key_usage_critical: true
    path: "{{ selfsigned_certificates_path }}/CA.csr"
  register: ca_csr

- name: Sign the CA CSR
  community.crypto.X509_certificate:
    path: "{{ selfsigned_certificates_path }}/CA.pem"
    csr_path: "{{ selfsigned_certificates_path }}/CA.csr"
    privatekey_path: "{{ selfsigned_certificates_path }}/CA.key"
    provider: selfsigned
  register: ca_crt
