---
# Execute roles to install cli and utils
- name: Use role in loop
  ansible.builtin.include_role:
    name: '{{ role }}'
  loop_control:
    loop_var: role
  loop:
    - longhorn-util
    - velero-cli
    - fluxcd-cli
