apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-externalsecret
  namespace: external-dns
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: external-dns-bind9-secret
  data:
  - secretKey: ddns-key
    remoteRef:
      key: bind9/ddns
      property: ddns-key
