/.terraform/
/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
