apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: kafka-cert
spec:
  privateKey:
    # Strimzi requires PKCS8 encoding for TLS certificates
    # The private key referenced in brokerCertChainAndKey must be in an unencrypted PKCS #8 format
    encoding: PKCS8
  secretName: kafka-tls
  issuerRef:
    name: letsencrypt-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  subject:
    organizations:
      - ${CLUSTER_DOMAIN}
  dnsNames:
    - kafka-bootstrap.${CLUSTER_DOMAIN}
    - kafka-broker-0.${CLUSTER_DOMAIN}
    - kafka-broker-1.${CLUSTER_DOMAIN}
    - kafka-broker-2.${CLUSTER_DOMAIN}