---

# Enable trace ingestion
traces:
  otlp:
    grpc:
      enabled: true
    http:
      enabled: true
  zipkin:
    enabled: true
  jaeger:
    thriftCompact:
      enabled: true
    thriftHttp:
      enabled: true
  opencensus:
    enabled: true

# Configure S3 backend
storage:
  trace:
    backend: s3
    s3:
      bucket: {{ minio_tempo_bucket }}
      endpoint: {{ minio_endpoint }}
      region: {{ minio_site_region }}
      access_key: {{ minio_tempo_user }}
      secret_key: {{ minio_tempo_key }}
      insecure: false

# Configure distributor
distributor:
  config:
    log_received_spans:
      enabled: {{ tempo_log_spans }}

# Disable Minio server installation
minio:
  enabled: false