apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.14.5
    releaseName: "cert-manager"
    namespace: cert-manager
    valuesFile: ../../base/cert-manager-values.yaml
    additionalValuesFiles:
      - cert-manager-values.yaml
  - name: cert-manager-webhook-ionos
    repo: https://fabmade.github.io/cert-manager-webhook-ionos
    version: 1.0.2
    releaseName: "cert-manager-webhook-ionos"
    namespace: cert-manager
    valuesFile: ../../base/ionos-webhook-values.yaml
    additionalValuesFiles:
      - ionos-webhook-values.yaml