---
- name: Update DNS servers.
  ansible.builtin.lineinfile:
    dest: /etc/systemd/resolved.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    mode: "0644"
    backup: true
  with_items:
    - regexp: "^DNS="
      line: "DNS={{ dns_server }}"
    - regexp: "^Domains"
      line: "Domains={{ dns_domain }}"
  notify: Restart systemd-resolved
