---
extends: default

ignore: |
  .venv/
  ansible_collections/
  roles/ricsanfre.*/
  docs/

rules:
  line-length:
    max: 180
    level: warning
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
