[defaults]
# Inventory file location
inventory       = ./inventory.yaml
# Ansible execution threads
forks          = 5
# Paths to search for roles in, colon separated
roles_path    = ./roles
# Disable SSH key host checking
host_key_checking = false

