[defaults]
# Inventory file location
inventory       = ./inventory.yml
# Ansible execution threads
forks          = 10
# Paths to search for roles in, colon separated
roles_path    = ./roles:/usr/share/ansible/roles
# Path for collections
collections_path = ./collections:/usr/share/ansible/collections
# Disable SSH key host checking
host_key_checking = false

# Vault password
vault_password_file=./.vault/vault_pass.sh

# Silencing Python Interpreter Warnings in Ansible
# https://docs.ansible.com/ansible-core/2.17/reference_appendices/interpreter_discovery.html
interpreter_python = auto_silent