---

- name: Generate vault variables file
  hosts: localhost
  gather_facts: false

  vars_prompt:
    - name: ionos_public_prefix
      prompt: Enter IONOS public prefix
      private: true
    - name: ionos_secret
      prompt: Enter IONOS secret
      private: true

  pre_tasks:
    - name: Ask for GIT PAT credentials
      when: git_private_repo
      block:
        - name: Ask for GitHub PAT credentials
          ansible.builtin.pause:
            prompt: "Enter Github PAT: "
            echo: false
          register: prompt
        - name: Set gitHub pat password variable
          ansible.builtin.set_fact:
            github_pat: "{{ prompt.user_input }}"
          no_log: true
    - name: Ask for SAN centralized credentials
      when: centralized_san
      block:
        - name: Ask for SAN iscsi credentials 1/2
          ansible.builtin.pause:
            prompt: "Enter iSCSI node password: "
            echo: false
          register: prompt
        - name: Set iSCSI node password variable
          ansible.builtin.set_fact:
            san_iscsi_node_pass: "{{ prompt.user_input }}"
          no_log: true
        - name: Ask for SAN iscsi credentials 2/2
          ansible.builtin.pause:
            prompt: "Enter iSCSI mutual password: "
            echo: false
          register: prompt
        - name: Set iSCSI node password variable
          ansible.builtin.set_fact:
            san_iscsi_mutual_pass: "{{ prompt.user_input }}"
          no_log: true
  tasks:

    - name: Create random passwords
      ansible.builtin.set_fact:
        "{{ item }}": "{{ lookup('ansible.builtin.password', '/dev/null length=32 chars=ascii_letters,digits') }}"
      with_items:
        - k3s_token
        - minio_root_password
        - minio_restic_password
        - minio_longhorn_password
        - minio_velero_password
        - minio_loki_password
        - minio_tempo_password
        - minio_barman_password
        - traefik_basic_auth_password
        - fluentd_shared_key
        - grafana_admin_password
        - elasticsearch_admin_password
        - elasticsearch_fluentd_password
        - elasticsearch_prometheus_password
        - keycloak_admin_password
        - keycloak_pi_password
        - keycloak_postgresql_password
        - oauth2_proxy_client_secret
        - oauth2_proxy_cookie
        - oauth2_proxy_redis_password
        - grafana_client_secret
        - kiali_client_secret
        - postgresql_admin_password
        - kafka_admin_password
        - kafka_kafdrop_password
        - kafka_schema_registry_password
        - schema_registry_basic_auth_password

    - name: Generate vault file
      ansible.builtin.template:
        src: vars/vault.yml.j2
        dest: vars/vault.yml

    - name: Encrypt file
      ansible.builtin.command:
        cmd: ansible-vault encrypt --vault-password-file=./.vault/vault-pass.sh vars/vault.yml
