---

- name: Install helm and kubectl
  hosts: localhost
  gather_facts: false
  become: true
  vars:
    install_kubectl: true
    install_helm: true
    k8s_platform: linux
    k8s_arch: amd64
    kubectl_version: "1.34.2"
    # SHA512 checksum of the binary (see https://dl.k8s.io/release/v1.34.2/bin/linux/amd64/kubectl.sha512)
    kubectl_checksum_binary: >
      sha512:cd22ad037cf2c1ccb10d6d735edb5d237c4c0a497181ee9cbf34e63a6ffd5ebb46cb99b90dfbc95a2540690d03b4c46eb98058f42ed3304aeb403ce86b75caec
    helm_version: 'v3.17.4'
  roles:
    - role: ricsanfre.k8s_cli

- name: Install other utilities
  hosts: localhost
  gather_facts: false
  become: true
  pre_tasks:
    - name: Include picluster variables
      ansible.builtin.include_vars: "vars/picluster.yml"
      tags: ["always"]
  roles:
    - role: fluxcd-cli
    - role: longhorn-cli
    - role: velero-cli
      vars:
        velero_arch: amd64
    - role: istio-cli
