---
all:
  children:
    control:
      hosts:
        gateway:
          hostname: gateway
          ansible_host: 10.0.0.1
          ip: 10.0.0.1
          mac: e4:5f:01:28:36:98
        pimaster:
          hostname: pimaster
          ansible_host: localhost
          ansible_connection: local
    external:
      hosts:
        s3:
          hostname: s3
          ansible_host: s3.ricsanfre.com
    picluster:
      hosts:
        node1:
          hostname: node1
          ansible_host: 10.0.0.11
          ip: 10.0.0.11
          mac: dc:a6:32:9c:29:b9
        node2:
          hostname: node2
          ansible_host: 10.0.0.12
          ip: 10.0.0.12
          mac: e4:5f:01:2d:fd:19
        node3:
          hostname: node3
          ansible_host: 10.0.0.13
          ip: 10.0.0.13
          mac: e4:5f:01:2f:49:05
        node4:
          hostname: node4
          ansible_host: 10.0.0.14
          ip: 10.0.0.14
          mac: e4:5f:01:2f:54:82
        node5:
          hostname: node5
          ansible_host: 10.0.0.15
          ip: 10.0.0.15
          mac: e4:5f:01:d9:ec:5c
        node6:
          hostname: node6
          ansible_host: 10.0.0.16
          ip: 10.0.0.16
          mac: d8:3a:dd:0d:be:c8
        node-hp-1:
          hostname: node-hp-1
          ansible-host: 10.0.0.20
          ip: 10.0.0.20
          mac: 18:60:24:21:1c:d4
        node-hp-2:
          hostname: node-hp-2
          ansible-host: 10.0.0.21
          ip: 10.0.0.21
          mac: 10:e7:c6:16:54:10
        node-hp-3:
          hostname: node-hp-3
          ansible-host: 10.0.0.22
          ip: 10.0.0.22
          mac: 10:e7:c6:0a:de:8a
    raspberrypi:
      hosts:
        node[1:6]:
        gateway:
    x86:
      hosts:
        node-hp-[1:3]:
    k3s_cluster:
      children:
        k3s_master:
          hosts:
            node[2:4]:
        k3s_worker:
          hosts:
            node[5:6]:
            node-hp-[1:3]:
    bootstrap:
      hosts:
        node2:
    vault:
      hosts:
        node1:
    haproxy:
      hosts:
        node1:

