---
- name: Reset k3s master nodes
  hosts: k3s_master
  become: true
  gather_facts: false
  tasks:
    - name: Import clean_cilium tasks
      ansible.builtin.import_tasks: tasks/clean_cilium.yml
      tags: ['cilium']
    - name: Uninstall k3s
      ansible.builtin.command: /usr/local/bin/k3s-uninstall.sh
      changed_when: true
      tags: ['k3s']
    - name: Import cleaning tasks
      ansible.builtin.import_tasks: tasks/cleaning.yml
      tags: ['clean']

- name: Reset k3s worker nodes
  hosts: k3s_worker
  become: true
  gather_facts: false
  tasks:
    - name: Import clean_cilium tasks
      ansible.builtin.import_tasks: tasks/clean_cilium.yml
      tags: ['cilium']
    - name: Uninstall k3s
      ansible.builtin.command: /usr/local/bin/k3s-agent-uninstall.sh
      changed_when: true
      tags: ['k3s']
    - name: Import cleaning tasks
      ansible.builtin.import_tasks: tasks/cleaning.yml
      tags: ['clean']
