---
- hosts: k3s_master
  become: true
  gather_facts: false
  tasks:
    - import_tasks: tasks/clean_cilium.ymml
    - name: Uninstall k3s
      command: /usr/local/bin/k3s-uninstall.sh
      changed_when: true
    - import_tasks: tasks/cleaning.yml
      tags: ['clean']

- hosts: k3s_worker
  become: true
  gather_facts: false
  tasks:
    - import_tasks: tasks/clean_cilium.ymml
    - name: Uninstall k3s
      command: /usr/local/bin/k3s-agent-uninstall.sh
      changed_when: true
    - import_tasks: tasks/cleaning.yml
      tags: ['clean']
