---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  interval: 30m
  chart:
    spec:
      chart: flux-instance
      version: 0.19.0
      sourceRef:
        kind: HelmRepository
        name: controlplane
        namespace: flux-system
  releaseName: flux-instance
  targetNamespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: flux-operator
      namespace: flux-system
  valuesFrom:
  - kind: ConfigMap
    name: flux-instance-helm-values
    valuesKey: base-values.yaml