# flux-instance helm values (base)
instance:
  distribution:
    # renovate: datasource=github-releases depName=fluxcd/flux2
    version: 2.7.2
  cluster:
    networkPolicy: false
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  commonMetadata:
    labels:
      app.kubernetes.io/name: flux
  