apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: efk
  # annotations:
  #   "helm.sh/hook": post-install,post-upgrade
spec:
  # renovate: datasource=github-releases depName=elastic/elasticsearch
  version: 8.19.5
  nodeSets:
    - name: default
      count: 1
      config:
        node.store.allow_mmap: false
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            resources:
              requests:
                storage: 10Gi
            storageClassName: longhorn
      podTemplate:
        spec:
          # Limiting Resources consumption
          containers:
          - name: elasticsearch
            resources:
              requests:
                memory: "1Gi"
              limits:
                memory: "1Gi"              
