---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--metrics.prometheus=true"
      - "--accesslog"
      - "--accesslog.format=json"
      - "--accesslog.filepath=/data/access.log"
    deployment:
{% if enable_linkerd is sameas true %}
      podAnnotations:
        linkerd.io/inject: ingress
        config.linkerd.io/skip-outbound-ports: "443"
{% endif %}
      additionalContainers:
        - name: stream-accesslog
          image: busybox
          args:
          - /bin/sh
          - -c
          - tail -n+1 -F /data/access.log
          imagePullPolicy: Always
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /data
            name: data
    service:
      spec:
        loadBalancerIP: {{ k3s_ingress_external_ip }}
    # Enable cross namespace references
    providers:
      kubernetesCRD:
        enabled: true
        allowCrossNamespace: true
