#!/bin/bash

# Executing certbot within virtualenv

{{certbot_venv}}/bin/certbot certonly \
  --config-dir {{certbot_venv}}/config \
  --work-dir {{certbot_venv}} \
  --logs-dir {{certbot_venv}}/logs \
  --authenticator dns-ionos \
  --dns-ionos-credentials {{ certbot_venv }}/.secrets/ionos-credentials.ini \
  --dns-ionos-propagation-seconds 900 \
  --server https://acme-v02.api.letsencrypt.org/directory \
  --agree-tos \
  --non-interactive \
  --rsa-key-size 4096 \
  -m {{ certbot_email }} \
  -d $1
