---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: opentelemetry-collector
spec:
  interval: 30m
  chart:
    spec:
      chart: opentelemetry-collector
      version: 0.142.0
      sourceRef:
        kind: HelmRepository
        name: open-telemetry
        namespace: flux-system
  releaseName: opentelemetry-collector
  targetNamespace: otel
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
  - kind: ConfigMap
    name: opentelemetry-collector-helm-values
    valuesKey: base-values.yaml