---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: loki
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: loki
      version: 6.53.0
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  releaseName: loki
  targetNamespace: loki
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: minio
      namespace: minio
  valuesFrom:
  - kind: ConfigMap
    name: loki-helm-values
    valuesKey: base-values.yaml