apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: elasticsearch-prometheus-externalsecret
  namespace: elastic
spec:
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: es-prometheus-user-file-realm
    template:
      type: kubernetes.io/basic-auth
      data:
        username: "{{ .username | toString }}"
        password: "{{ .password | toString }}"
        roles: prometheus_role
  data:
  - secretKey: username
    remoteRef:
      key: logging/es-prometheus
      property: user
  - secretKey: password
    remoteRef:
      key: logging/es-prometheus
      property: password
