---
apiVersion: v1
stringData:
  IONOS_PUBLIC_PREFIX: {{ ionos_public_prefix }}
  IONOS_SECRET: {{ ionos_secret }}
kind: Secret
metadata:
  name: ionos-secret
  namespace: {{ k3s_certmanager_namespace }}
type: Opaque
