{% if enable_linkerd is sameas true %}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: l5d-header-middleware-alertmanager
  namespace: {{ k3s_monitoring_namespace }}
spec:
  headers:
    customRequestHeaders:
      l5d-dst-override: "kube-prometheus-stack-alertmanager.{{ k3s_monitoring_namespace }}.svc.cluster.local:9093"
{% endif %}
---
# HTTPS Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: alertmanager-ingress
  namespace: {{ k3s_monitoring_namespace }}
  annotations:
    # HTTPS as entry point
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    # Enable TLS
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Use Basic Auth Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares: 
      {{ k3s_traefik_namespace }}-basic-auth@kubernetescrd
{% if enable_linkerd is sameas true %}
      ,{{ k3s_monitoring_namespace }}-l5d-header-middleware-alertmanager@kubernetescrd
{% endif %}
    # Enable cert-manager to create automatically the SSL certificate and store in Secret
    cert-manager.io/cluster-issuer: ca-issuer
    cert-manager.io/common-name: {{ alertmanager_dashboard_dns }}
spec:
  tls:
    - hosts:
        - {{ alertmanager_dashboard_dns }}
      secretName: prometheus-tls
  rules:
    - host: {{ alertmanager_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kube-prometheus-stack-alertmanager
                port:
                  number: 9093

---
# http ingress for http->https redirection
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: alertmanager-redirect
  namespace: {{ k3s_monitoring_namespace }}
  annotations:
    # Use redirect Midleware configured
    traefik.ingress.kubernetes.io/router.middlewares: {{ k3s_traefik_namespace }}-redirect@kubernetescrd
    # HTTP as entrypoint
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  rules:
    - host: {{ alertmanager_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: kube-prometheus-stack-alertmanager
                port:
                  number: 9093
