---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: external-node-metrics
    release: kube-prometheus-stack
  name: external-nodes-prometheus-servicemonitor
  namespace: {{ k3s_monitoring_namespace }}
spec:
  endpoints:
    - port: http-metrics
      path: /metrics
      scheme: http
  namespaceSelector:
    matchNames: 
    - {{ k3s_monitoring_namespace }}
  selector:
    matchLabels:
      app: external-node-metrics
