---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ dashboard_name }}
  namespace: {{ k3s_monitoring_namespace }}
  labels:
     grafana_dashboard: "1"
data:
  {{ dashboard_file_name }}: |-
{{ dashboard_content | to_nice_json | indent(4, true) }}
