---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app: k3s
    release: kube-prometheus-stack
  name: k3s-prometheus-servicemonitor
  namespace: {{ k3s_monitoring_namespace }}
spec:
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/name: k3s
  jobLabel: app.kubernetes.io/name
  endpoints:
    - port: http-metrics
      path: /metrics
