# Our DHCP service will be providing addresses over our eth0 adapter
interface=eth0

# We will listen on the static IP address we declared earlier
listen-address=10.0.0.1

# Pre-allocate a bunch of IPs on the 10.0.0.0/8 network for the Raspberry Pi nodes
# DHCP will allocate these for 12 hour leases, but will always assign the same IPs to the same Raspberry Pi
# devices, as you'll populate the MAC addresses below with those of your actual Pi ethernet interfaces

dhcp-range=10.0.0.32,10.0.0.128,12h

# DNS nameservers
{% for server in home_dns_servers %}
server={{ server }}
{% endfor %}

# Bind dnsmasq to the interfaces it is listening on (eth0)
bind-interfaces

# Never forward plain names (without a dot or domain part)
domain-needed

local=/{{ cluster_domain_name }}/

domain={{ cluster_domain_name }}

# Never forward addresses in the non-routed address spaces.
bogus-priv

# Do not use the hosts file on this machine
# expand-hosts

# Useful for debugging issues
# log-queries
# log-dhcp

# DHCP configuration
{% for host in groups['cluster'] %}
dhcp-host={{ hostvars[host].mac }},{{ hostvars[host].ip }}
{% endfor %}

dhcp-host= {{ hostvars['switch'].mac}},{{ hostvars['switch'].ip }}

# DNS configuration

# Pi Cluster hosts
{% for host in groups['cluster'] %}
host-record={{ hostvars[host].hostname }}.{{ cluster_domain_name }},{{ hostvars[host].ip }}
{% endfor %}

# Switch and Gateway
{% for host in groups['network'] %}
host-record={{ hostvars[host].hostname }}.{{ cluster_domain_name }},{{ hostvars[host].ip }}
{% endfor %}
