---
# velero helm chart values

# AWS backend and CSI plugins configuration
initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.3.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: velero-plugin-for-csi
    image: ricsanfre/velero-plugin-for-csi:v0.3.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

# Use a kubectl image supporting ARM64
# bitnami default is not suppporting it
kubectl:
  image:
    repository: ricsanfre/docker-kubectl-helm
    tag: latest

# Velero Configuration
configuration:
  # Configure Minio as backup backend
  provider: aws
  backupStorageLocation:
    provider: aws
    bucket: "{{ minio_velero_bucket }}"
{% if enable_letsencrypt is sameas false %}
    caCert: "{{ lookup('file','certificates/CA.pem') | b64encode | replace('\n', '') }}"
{% endif %}
    config:
      region: "{{ minio_site_region }}"
      s3ForcePathStyle: true
      s3Url: "{{ minio_url }}"
      insecureSkipTLSVerify: true
  # Enable CSI snapshot support
  features: EnableCSI
credentials:
  secretContents:
    cloud: |
      [default]
      aws_access_key_id: "{{ minio_velero_user }}"
      aws_secret_access_key: "{{ minio_velero_key }}"
{% if enable_linkerd is sameas true %}
# Enable linkerd
podAnnotations:
  linkerd.io/inject: enabled
{% endif %}
