---
apiVersion: v1
kind: Secret
metadata:
name: minio-secret
namespace: {{ k3s_longhorn_namespace }}
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ minio_longhorn_user | b64encode }}
  AWS_SECRET_ACCESS_KEY: {{ minio_longhorn_key | b64encode}}
  AWS_ENDPOINTS: {{ minio_url | b64encode }}
  AWS_CERT: {{ minio_cert | b64encode }}
